@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand/Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto", times, serif;
  margin-left: 0px;
  margin-right: 0px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .logo {
  width: 200px;
}
header .fa-arrow-left {
  position: absolute;
  top: 37px;
  left: 20px;
  text-decoration: none;
  color: black;
}

#search {
  width: 100%;
  background-color: #f6f6f6;
}
#search p {
  margin-bottom: 5px;
  margin-top: 5px;
}
#search form, #search h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search h2 {
  color: #7e7e7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
}
#search #btn_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
#search input {
  border: none;
  background-color: #eaeaea;
  padding-left: 10px;
}
#search .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  cursor: pointer;
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1350px;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
#restaurants h3 {
  align-self: start;
  padding-left: 20px;
}
#restaurants a {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  border: none;
  text-decoration: none;
  color: black;
  position: relative;
}
#restaurants a .nouveau {
  background-color: #99e2d0;
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  font-weight: bold;
  color: #008766;
}
#restaurants .restaurant {
  width: 100%;
  margin-bottom: 15px;
}
#restaurants .restaurant_nom {
  font-weight: bold;
  padding-left: 10px;
}
#restaurants .restaurant_lieu {
  padding-left: 10px;
}
#restaurants .arrondi {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#fonctionnement {
  width: 90%;
  margin-bottom: 50px;
}
#fonctionnement .fonct_notice {
  width: 90%;
  border-radius: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
}
#fonctionnement .number {
  display: flex;
  justify-content: center;
  position: relative;
  top: 38px;
  left: -9px;
  background-color: #9356dc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
}
#fonctionnement .fa-mobile-alt {
  padding-right: 30px;
  padding-left: 15px;
  color: #7e7e7e;
}
#fonctionnement .fa-list {
  padding-right: 24px;
  padding-left: 15px;
  color: #7e7e7e;
}
#fonctionnement .fa-store {
  padding-right: 21px;
  padding-left: 15px;
  color: #9356dc;
}

footer {
  width: 100%;
  color: white;
  background-color: #353535;
}
footer h4 {
  font-family: "Shrikhand", times, serif;
  color: white;
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer li {
  padding-bottom: 20px;
}
footer .fa-utensils {
  padding-right: 20px;
}
footer .fa-hands-helping {
  width: 13px;
  padding-right: 20px;
}
footer .bold {
  font-weight: bold;
}
footer a {
  color: white;
  text-decoration: none;
}

.jpg_page {
  width: 100%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  cursor: pointer;
}

.palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: blue;
  position: relative;
  top: -40px;
}
.palette h1 {
  font-family: "Shrikhand", times, serif;
  padding-left: 20px;
}
.palette .plats {
  margin-top: -30px;
}
.palette .entrees, .palette .plats, .palette .desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}
.palette .entrees h2, .palette .plats h2, .palette .desserts h2 {
  align-self: start;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.palette .entrees .ligne, .palette .plats .ligne, .palette .desserts .ligne {
  margin-top: -30px;
  margin-bottom: 10px;
  padding-left: 20px;
  align-self: start;
}
.palette .entrees .ligne hr, .palette .plats .ligne hr, .palette .desserts .ligne hr {
  color: #99e2d0;
  background-color: #99e2d0;
  width: 60px;
  height: 3px;
}
.palette .entrees .ligne .btn, .palette .plats .ligne .btn, .palette .desserts .ligne .btn {
  display: flex;
  align-self: center;
}
.palette .plat {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.palette .plat .suite {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  width: 90%;
}

@media screen and (min-width: 668px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container {
    max-width: 1320px;
  }

  .fonct_notice {
    display: flex;
    justify-content: center;
  }

  .arrondi {
    height: 300px;
  }

  .logofooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
