$primaire:#9356dc;
$secondaire:#ff79da;
$tertiaire:#99e2d0;
$tertiairetexte:#008766;
$fondclair:#f6f6f6;
$fondmoyen:#eaeaea;
$fondfonce:#353535;
$iconegris:#7e7e7e;


@font-face{
	font-family:"Roboto";
    src:url(Roboto/Roboto-Regular.ttf);	
}

@font-face{
	font-family:"Shrikhand";
    src:url(Shrikhand/Shrikhand-Regular.ttf);
}


body {
    font-family:"Roboto", times, serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    position: relative;
    top:200px;
    z-index: 1;
  }
  .loader div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top-color: $primaire;
    border-radius: 50%;
    opacity: 0;
    animation: loaderone 3s linear ;
    
  }
  .loader div:nth-child(2) {
    border: 10px solid transparent;
    border-bottom-color:$primaire;
    animation: loadertwo 3s linear ;
    
  }

  @keyframes loaderone {
    0% { transform: rotate(0deg); border-width: 10px; opacity: 1; }
    50% { transform: rotate(180deg); border-width: 1px; }
    100% { transform: rotate(360deg); border-width: 10px; }
    
    
  }

  @keyframes loadertwo {
    0% { transform: rotate(0deg); border-width: 1px; opacity: 1;}
    50% { transform: rotate(180deg); border-width: 10px; }
    100% { transform: rotate(360deg); border-width: 1px; }
    
  }

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -80px;
    animation: loaderthree 4s  ;
    max-width: 1224px;
}
@keyframes loaderthree {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

header {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 20px;   
    margin-bottom: 20px;  
    .logo {   
        width: 200px;    
    }
    .fa-arrow-left {
        position: absolute;
        top:30px;
        left:20px;
        text-decoration: none;
        color:black;
    }
}

h1{
    padding-left: 60px;
    padding-right: 60px;
}
#search {
    width:100%;
    background-color:$fondclair;
    
    p {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    form, h1{
        text-align: center;
        
    }
    h2 {
        color:$iconegris;
        text-align: center;
        font-size: 0.9em;
        padding-left: 40px;
        padding-right: 40px;
        
        
        
    }   
    #btn_search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:50px;
        background-color:$fondmoyen;
            }
    input {
        border: none;
        background-color:$fondmoyen;
        padding-left: 10px;
    }
    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius:20px;        
        background-image:linear-gradient($secondaire, $primaire);
        box-shadow: 0px 5px 5px $fondmoyen;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
            box-shadow: 0px 5px 5px $fondfonce;
        }
    }
}


#restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    align-items: center;    
    background-color:$fondclair;
    padding-bottom: 40px;


    .cont {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        align-self: start;
        padding-left: 20px;
    }

    .contain {
        display:flex;
        justify-content: center;
        width:90%;
        border-radius: 10px;
        background-color:white;
        border: none; 
        box-shadow: 0px 5px 5px $fondmoyen;
        position: relative;
        margin-bottom: 20px;
        
        .restaurant {
            width:100%;
            margin-bottom: 15px; 
            
            a {
                text-decoration: none;
                color: black;
            }
            .arrondi {
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 200px;
                object-fit: cover; 
            }
            .contain1 {
                display:flex;
                justify-content: space-between;
                
                

                .nouveau {
                    background-color: $tertiaire;
                    position: absolute;
                    padding: 10px;
                    right: 10px;
                    top:10px;
                    font-weight: bold;
                    color: $tertiairetexte;
                }    
                .restaurant_nom {
                    font-weight: bold;
                    padding-left: 10px;
                }    
                .restaurant_lieu {
                    padding-left: 10px;
                    
                } 

                .coeur {
                    align-self: center;
                    padding-right: 20px;
                    font-size: 2em;
                    &:hover{
                        color: red;
                        opacity: 0;
                        &:hover .coeur2{
                            display: block;
    
                        }
                    } 
                    

                }
                .coeur2 {
                    display: none;
                    position:absolute;
                    align-self: center;
                    padding-right: 20px;
                    font-size: 2em;
                    transition: all;
                    
                     
                    
                }
            }
        
    }
}

          
    
    
    

    
    
    
}

#fonctionnement {
    width:90%;
    margin-bottom: 50px;

    .fonct_notice {
        width:90%;
        border-radius:20px;
        padding: 20px;
        background-color: $fondclair;
        font-weight:bold;
        box-shadow: 0px 5px 5px $fondmoyen;
    }
    .number {
        display: flex;
        justify-content: center;
        position: relative;
        top:38px;
        left:-9px;
        background-color:$primaire;
        border-radius:50%;
        height:20px;
        width:20px;
        color:white;   
    }
    .fa-mobile-alt {
        padding-right: 30px;
        padding-left: 15px;
        color:$iconegris;
    }
    .fa-list {
        padding-right: 24px;
        padding-left: 15px;
        color:$iconegris;
    }
    .fa-store {
        padding-right: 21px;
        padding-left: 15px;
        color:$primaire;
    }
}

footer {
    width:100%;
    color:white;
    background-color: $fondfonce;
    

    h4 {
        font-family:"Shrikhand", times, serif;
        color:white;
        padding-left: 20px;
    }

    ul {
        list-style: none;
        padding-left: 20px;
    }
    li {
        padding-bottom: 20px;
    }
    .fa-utensils {
        padding-right: 20px;
    }
    .fa-hands-helping {
        width:13px;
        padding-right: 20px;
    }
    .bold {
        font-weight: bold;
    }
    a {
        color:white;
        text-decoration: none;
    }

}

// page la palette

.jpg_page {
    width:100%;
    object-fit: cover;
    
}
#container2 {
    max-width: 1224px;
}


.palette {
    display: flex;
    flex-direction: column;  
    border-radius: 40px 40px 0px 0px;
    background-color: $fondmoyen;
    position: relative;
    top:-40px;
    font-size: 0.85em;
    

    h1 {
        display: flex;
        justify-content: space-between;
        font-family:"Shrikhand", times, serif;
        padding-left: 20px;
        padding-right: 40px;
    }

    
    
    .entrees, .plats, .desserts {
        display: flex;
        flex-direction: column;        
        align-items: center;        
        margin-bottom: 20px;
       
        h2 {
            align-self: start;
            padding-left: 20px;

            padding-top: 10px;
            margin-bottom: 30px;
            margin-top: 0px;
            
        }
        .ligne {
            margin-top: -30px;
            margin-bottom: 10px;
            padding-left: 20px;
            align-self: start; 
            
            hr {
            border: none;
            background-color: $tertiaire;
            width:60px;
            height: 3px;            
        }        
        
    }        

    }
    
    .btn_commander {
        align-self: center;
        .btn {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius:20px;        
        background-image:linear-gradient($secondaire, $primaire);
        box-shadow: 0px 5px 5px $fondmoyen;
        color: white;
        cursor: pointer;

        &:hover {
            
            opacity: 0.7;
            box-shadow: 0px 5px 5px $fondfonce;
        }}}

        .choix1, .choix2, .choix3, .choix4 {
            display: flex;
            justify-content: space-between;
            border-radius: 20px;
            background-color: white;
            width:90%;
            padding-left: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            opacity: 0;
            
            
            .check {
                background-color:$tertiaire;
                border:none;        
                border-radius: 0 10px 10px 0;
                text-align: center;
                width:0;
                transition: all 1s ;
                
                            
                     
            }
            .column {
                display: flex;
                flex-direction:column;
                flex-grow: 2;
                align-content:space-between;
                

                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    font-size: 1em;
                }
            }
            

            .fa-check {
                display: none;
                position: relative;                
                top:25px;
                background-color: white;
                border-radius: 50%;
                color:$tertiairetexte;
                padding: 5px;                
                transition: all 1s ;
                
            }
            

            &:hover .check{  
                width:15%;
                .fa-check {
                    display: inline;
                    transform: rotate(360deg);
                }
            }   
            
                    
            
                       
            .accompagnement_prix {
                display: flex;
                justify-content: space-between;
                align-items: center;                 
            .accompagnement {
                overflow: hidden;
                text-overflow: ellipsis; 
                white-space: nowrap;
                padding-bottom: 10px;
                max-width: 85%;
                                                
            }  
            .prix {
                padding-right: 10px;
                padding-bottom: 10px;
                font-weight: bold; 
                             
               
            } 

            }    
        }    
    
    .choix1 {

        animation : apparition 1s;
        animation-fill-mode: forwards;
    }

    .choix2 {

        animation : apparition 1s;
        animation-delay: 500ms;
        animation-fill-mode: forwards;
        }
     
    .choix3 {

        animation : apparition 1s;
        animation-delay: 750ms;
        animation-fill-mode: forwards;
        }

    .choix4 {

        animation : apparition 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        }
        @keyframes apparition {
            0% { opacity: 0; }
            25% { opacity: 0.25; }
            50% { opacity: 0.5; }
            75% { opacity : 0.75; }
            100% { opacity: 1; }
        }
    
    }
  
@media screen and (min-width: 768px) {
    
    .fonct {
        display: flex;
        justify-content: space-between;
    }
    .choix {
        width:30%;
        
    }
    .fonct_notice {
        display: flex;
        justify-content: center;
        align-items: center;
        height:30px;
    }
    #fonctionnement .number {
        top:45px;
    }
    
    .logofooter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    
  }

  @media screen and (min-width: 1224px) {
    
    #restaurants .contain {
        width:45%;
    } 
    
    #restaurants .cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menus {
        display:flex;
        justify-content: center;
    }
    .entrees, .plats, .desserts{
        width:30%;
        
    }
  }