@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(Shrikhand/Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto", times, serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  top: 200px;
  z-index: 1;
}

.loader div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
  border-radius: 50%;
  opacity: 0;
  animation: loaderone 3s linear;
}

.loader div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #9356dc;
  animation: loadertwo 3s linear;
}

@keyframes loaderone {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes loadertwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -80px;
  animation: loaderthree 4s;
  max-width: 1224px;
}

@keyframes loaderthree {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .logo {
  width: 200px;
}
header .fa-arrow-left {
  position: absolute;
  top: 30px;
  left: 20px;
  text-decoration: none;
  color: black;
}

h1 {
  padding-left: 60px;
  padding-right: 60px;
}

#search {
  width: 100%;
  background-color: #f6f6f6;
}
#search p {
  margin-bottom: 5px;
  margin-top: 5px;
}
#search form, #search h1 {
  text-align: center;
}
#search h2 {
  color: #7e7e7e;
  text-align: center;
  font-size: 0.9em;
  padding-left: 40px;
  padding-right: 40px;
}
#search #btn_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
#search input {
  border: none;
  background-color: #eaeaea;
  padding-left: 10px;
}
#search .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 5px #eaeaea;
  color: white;
  cursor: pointer;
}
#search .btn:hover {
  opacity: 0.7;
  box-shadow: 0px 5px 5px #353535;
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}
#restaurants .cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#restaurants h3 {
  align-self: start;
  padding-left: 20px;
}
#restaurants .contain {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 10px;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 5px #eaeaea;
  position: relative;
  margin-bottom: 20px;
}
#restaurants .contain .restaurant {
  width: 100%;
  margin-bottom: 15px;
}
#restaurants .contain .restaurant a {
  text-decoration: none;
  color: black;
}
#restaurants .contain .restaurant .arrondi {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#restaurants .contain .restaurant .contain1 {
  display: flex;
  justify-content: space-between;
}
#restaurants .contain .restaurant .contain1 .nouveau {
  background-color: #99e2d0;
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  font-weight: bold;
  color: #008766;
}
#restaurants .contain .restaurant .contain1 .restaurant_nom {
  font-weight: bold;
  padding-left: 10px;
}
#restaurants .contain .restaurant .contain1 .restaurant_lieu {
  padding-left: 10px;
}
#restaurants .contain .restaurant .contain1 .fa-heart {
  font-size: 30px;
}
#restaurants .contain .restaurant .contain1 .anim_coeur {
  position: absolute;
  top: 82%;
  left: 90%;
  transform: translate(-50%, -50%);
}
#restaurants .contain .restaurant .contain1 .coeur1 {
  position: relative;
  cursor: pointer;
  -webkit-text-stroke: 2px white;
}
#restaurants .contain .restaurant .contain1 .coeur2 {
  position: absolute;
  left: 0;
  top: 0;
  background: #9356DC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}
#restaurants .contain .restaurant .contain1 .coeur1:hover .coeur2 {
  transform: scale(1);
  opacity: 1;
}
#restaurants .contain .restaurant .contain1 .coeur1:hover {
  background: #9356DC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

#fonctionnement {
  width: 90%;
  margin-bottom: 50px;
}
#fonctionnement .fonct_notice {
  width: 90%;
  border-radius: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  font-weight: bold;
  box-shadow: 0px 5px 5px #eaeaea;
}
#fonctionnement .number {
  display: flex;
  justify-content: center;
  position: relative;
  top: 38px;
  left: -9px;
  background-color: #9356dc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
}
#fonctionnement .fa-mobile-alt {
  padding-right: 30px;
  padding-left: 15px;
  color: #7e7e7e;
}
#fonctionnement .fa-list {
  padding-right: 24px;
  padding-left: 15px;
  color: #7e7e7e;
}
#fonctionnement .fa-store {
  padding-right: 21px;
  padding-left: 15px;
  color: #9356dc;
}

footer {
  width: 100%;
  color: white;
  background-color: #353535;
}
footer h4 {
  font-family: "Shrikhand", times, serif;
  color: white;
  padding-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 20px;
}
footer li {
  padding-bottom: 20px;
}
footer .fa-utensils {
  padding-right: 20px;
}
footer .fa-hands-helping {
  width: 13px;
  padding-right: 20px;
}
footer .bold {
  font-weight: bold;
}
footer a {
  color: white;
  text-decoration: none;
}

.jpg_page {
  width: 100%;
  object-fit: cover;
}

#container2 {
  max-width: 1224px;
}

.palette {
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0px 0px;
  background-color: #eaeaea;
  position: relative;
  top: -40px;
  font-size: 0.85em;
}
.palette h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", times, serif;
  padding-left: 20px;
  padding-right: 40px;
}
.palette .entrees, .palette .plats, .palette .desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.palette .entrees h2, .palette .plats h2, .palette .desserts h2 {
  align-self: start;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.palette .entrees .ligne, .palette .plats .ligne, .palette .desserts .ligne {
  margin-top: -30px;
  margin-bottom: 10px;
  padding-left: 20px;
  align-self: start;
}
.palette .entrees .ligne hr, .palette .plats .ligne hr, .palette .desserts .ligne hr {
  border: none;
  background-color: #99e2d0;
  width: 60px;
  height: 3px;
}
.palette .btn_commander {
  align-self: center;
}
.palette .btn_commander .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 5px 5px #eaeaea;
  color: white;
  cursor: pointer;
}
.palette .btn_commander .btn:hover {
  opacity: 0.7;
  box-shadow: 0px 5px 5px #353535;
}
.palette .choix1, .palette .choix2, .palette .choix3, .palette .choix4 {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0;
}
.palette .choix1 .check, .palette .choix2 .check, .palette .choix3 .check, .palette .choix4 .check {
  background-color: #99e2d0;
  border: none;
  border-radius: 0 10px 10px 0;
  text-align: center;
  width: 0;
  transition: all 1s;
}
.palette .choix1 .column, .palette .choix2 .column, .palette .choix3 .column, .palette .choix4 .column {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-content: space-between;
}
.palette .choix1 .column h3, .palette .choix2 .column h3, .palette .choix3 .column h3, .palette .choix4 .column h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 1em;
}
.palette .choix1 .fa-check, .palette .choix2 .fa-check, .palette .choix3 .fa-check, .palette .choix4 .fa-check {
  opacity: 0;
  position: relative;
  top: 25px;
  left: -5px;
  background-color: white;
  border-radius: 50%;
  color: #008766;
  padding: 5px;
  transition: all 500ms;
}
.palette .choix1:hover .check, .palette .choix2:hover .check, .palette .choix3:hover .check, .palette .choix4:hover .check {
  width: 15%;
}
.palette .choix1:hover .fa-check, .palette .choix2:hover .fa-check, .palette .choix3:hover .fa-check, .palette .choix4:hover .fa-check {
  opacity: 1;
  transform: rotate(360deg);
}
.palette .choix1 .accompagnement_prix, .palette .choix2 .accompagnement_prix, .palette .choix3 .accompagnement_prix, .palette .choix4 .accompagnement_prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.palette .choix1 .accompagnement_prix .accompagnement, .palette .choix2 .accompagnement_prix .accompagnement, .palette .choix3 .accompagnement_prix .accompagnement, .palette .choix4 .accompagnement_prix .accompagnement {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 10px;
  max-width: 85%;
}
.palette .choix1 .accompagnement_prix .prix, .palette .choix2 .accompagnement_prix .prix, .palette .choix3 .accompagnement_prix .prix, .palette .choix4 .accompagnement_prix .prix {
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.palette .choix1 {
  animation: apparition 1s;
  animation-fill-mode: forwards;
}
.palette .choix2 {
  animation: apparition 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
.palette .choix3 {
  animation: apparition 1s;
  animation-delay: 750ms;
  animation-fill-mode: forwards;
}
.palette .choix4 {
  animation: apparition 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .fonct {
    display: flex;
    justify-content: space-between;
  }

  .choix {
    width: 30%;
  }

  .fonct_notice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  #fonctionnement .number {
    top: 45px;
  }

  .logofooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1224px) {
  #restaurants .contain {
    width: 45%;
  }

  #restaurants .cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menus {
    display: flex;
    justify-content: center;
  }

  .entrees, .plats, .desserts {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
